@use './fonts' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  button {
    transition: 0.3s linear;
  }

  .bgGradient {
    background: rgb(13, 2, 170);
    background: linear-gradient(
      120deg,
      rgba(13, 2, 170, 1) 39%,
      rgba(98, 38, 187, 1) 53%
    );
  }

  .bg-dark {
    background-color: rgb(0, 0, 0, 0.95);
  }

  .centerBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
